footer {
	padding: 60px 0 50px 0;
	font-size: 1rem;
	position: relative;
	margin-top: 40px;
	background: #fff;
	border-top: 1px solid #f2e8d8;

	.copyright {
		font-size: 0.9rem;
		margin: 20px auto 0;
		color: #8a867f;
	}

	h2 {
		font-size: 1.4rem;
		margin: 30px 0;
	}

	.footer-columns {
		@media #{$mid-point} {
			display: flex;
		}
		@include flex-flow(wrap);
		list-style: none;
		padding: 0;

		@media #{$mid-point} {
			margin: -10px -30px 10px -30px;
		}

		& > li {
			@media #{$mid-point} {
				flex: 1;
				padding: 0 30px;
			}

			box-sizing: border-box;

			&.footer-nav {
				@media #{$mid-point} {
					flex: 0;
				}
			}
			ul {
				padding: 0;
				list-style: none;
				li {
					font-size: 1rem;
					margin: 11px 0;
					a {
						white-space: nowrap;
						color: #6f6b64;
					}
				}
			}
		}

		.about {
			svg path {
				fill: $brand-color;
			}
		}

		p {
			font-size: 1rem;
			color: #7e7a73;
		}

		.email {
			margin: 0;
		}

		h4 {
			margin: 0 0 1.1rem 0;
			font-size: 1rem;
		}
	}

	a {
		text-decoration: none;
	}
}

.social-icons {
	svg {
		width: 100%;
		height: 100%;

		&, path {
			fill: #fff;
		}
	}

	a {
		display: inline-block;
		width: 20px;
		height: 20px;
		padding: 8px;
		line-height: 0;
		margin: 0 10px 20px 0;
		border-radius: 50px;
		box-shadow: 0 8px 15px rgba(18, 28, 44, 0.15);

		&.instagram {
			background-color: #e66c43;
		}

		&.whatsapp {
			background-color: #25d366;
		}
	}
}
