@media #{$below-mid-point} {
	.nav-open {
		nav {
			border: 0;
			z-index: 2;

			a {
				display: block;
			}
		}
	}
}

header {
	color: #fff;
	padding: 20px 0 74px 0;
	background: linear-gradient(120deg, #f26a2e 0%, #f49e31 36%, #1f9d8b 100%);
	position: relative;
	overflow: hidden;

	&:before,
	&:after {
		content: "";
		position: absolute;
		border-radius: 50%;
		opacity: 0.22;
	}

	&:before {
		width: 330px;
		height: 330px;
		background: #fff;
		top: -140px;
		right: -90px;
	}

	&:after {
		width: 220px;
		height: 220px;
		background: #f4c542;
		left: -90px;
		bottom: -80px;
	}

	p {
		margin: 0;
	}

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
		}
	}
}

nav {
	width: 100%;
	padding: 20px 0 0 0;

	@media #{$mid-point} {
		display: inline-block;
		vertical-align: top;
		width: auto;
		padding: 0 0 0 40px;
	}

	a {
		margin: 0 3px;
		padding: 20px 10px;
		border-bottom: 1px solid rgba(255, 255, 255, 0);
		color: rgba(255, 255, 255, 0.78);
		transition: 200ms ease-in color;
		display: none;
		font-weight: 700;

		@media #{$mid-point} {
			display: inline-block;
			padding: 10px;
		}

		&.nav-toggle {
			display: inline;
			position: absolute;
			right: 0;
			top: -22px;
			font-size: 1.9em;
			border: 0;
			z-index: 2;
			padding: 20px;

			@media #{$mid-point} {
				display: none;
			}

			&:hover {
				border: 0;
			}
		}
	}

	a:hover {
		color: #fff;
	}

	a.cta-link {
		line-height: 1;
		background: rgba(255, 255, 255, 0.2);
		border-radius: 99px;

		i {
			font-size: 22px;
			line-height: 1;
			display: inline-block;
			vertical-align: middle;
			padding: 0 6px;
		}

		span {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			top: 1px;
		}
	}

	@media #{$mid-point} {
		a.cta-link {
			color: #fff;
			border: 1px solid rgba(255, 255, 255, 0.5);
			position: absolute;
			right: 20px;
			top: -2px;
			font-size: 0.9em;
			transition: all 0.25s ease;

			&:hover {
				border-color: #fff;
				background: rgba(255, 255, 255, 0.28);
			}
		}
	}

	a.active {
		color: #fff;
		border-bottom-color: rgba(255, 255, 255, 0.65);
	}
}
