$brand-color: #f26a2e;
$brand-color-2: #1f9d8b;
$default-hero-image: "/images/hero/box-top.jpg";

// Breakpoints
$tablet: "(min-width: 450px)";
$above-tablet: "(min-width: 550px)";
$mid-point: "(min-width: 850px)";
$below-mid-point: "(max-width: 849px)";
$desktop: "(min-width: 768px)";
